asgiref==3.10.0
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
gunicorn==23.0.0
packaging==25.0
sqlparse==0.5.3
Pillow==12.0.0
faker==38.2.0
djangorestframework_simplejwt==5.5.1
qrcode==7.4.2
python-dateutil==2.9.0.post0
requests==2.34.2
PyMySQL==1.1.1
drf-yasg==1.21.7
PyYAML>=6.0
inflection>=0.5.1
pytz>=2023.3
uritemplate>=4.1.1
setuptools<81
cryptography>=43.0.0
firebase-admin>=6.5.0
